* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #a1a6ad;
}

/* Buttons */
.btn-middle {
    font-size: 10px;
    padding: 6px 13px;
    border-radius: 15px;
    border: none;
    background: #d9338b;
    color: #fff;
    cursor: pointer;
}

.btn-middle:active {
    background: #fff;
    /* border: 1px solid #d9338b; */
    color: #d9338b;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

.header-container .nav {
    display: flex;
    justify-content: space-around;

}

.header-container .nav a:focus {
    color: black;
}

/* Left nav */
.header-container .nav img {
    max-width: 80px;
    max-height: 20px;
}

.header-container .nav > a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #a1a6ad;
    padding: 7px 15px;
}

/* Right nav */
.header-container .nav .right-nav-list {
    display: flex;
    list-style: none;
}

.right-nav-list li {
    padding: 0 10px;
}

.right-nav-list li a {
    font-size: 12px;
    text-decoration: none;
    line-height: 25px;
    color: #a1a6ad;
}

.right-nav-list li a i {
    font-size: 8px;
}

/* Dropdown-menu */
.with-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 255px;
    top: 100%;
    right: -140px;
    border-radius: 4px;
    padding: 10px 20px;
    background: #fff;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul li {
    margin-bottom: 10px;
}

.dropdown-menu ul .purple-span {
    position: absolute;
    text-transform: lowercase;
    font-size: 10px;
    top: 103px;
    left: 40px;
    color: #d9338b;
}

/* Doprdonw menu 2 */
.dropdown-menu-2 {
    display: none;
    position: absolute;
    width: 140px;
    top: 100%;
    right: -40px;
    border-radius: 4px;
    padding: 10px 20px;
    background: #fff;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
}

.dropdown-menu-2 ul {
    list-style: none;
}

.dropdown-menu-2 ul li {
    margin-bottom: 15px;
}

 .dropdown-menu-2 ul .purple-span {
    position: absolute;
    text-transform: capitalize;
    font-size: 10px;
    bottom: 75px;
    right: 20px;
    color: #d9338b;
}

